@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --shade-01: #141414;
    --shade-02: #101010;
    --shade-03: #191919;
    --shade-04: #222222;
    --shade-05: #4c4c4c;
    --shade-06: #727272;
    --shade-07: #7b7b7b;
    --shade-08: #e2e2e2;
    --shade-09: #f1f1f1;
    --shade-10: #fdfdfd;
    --primary-01: #2a85ff;
    --primary-02: #00a656;
    --primary-03: #ff381c;
    --primary-04: #7f5fff;
    --primary-05: #ff9d34;
    --backgrounds-surface1: var(--shade-09);
    --backgrounds-surface2: var(--shade-10);
    --backgrounds-dark1: var(--shade-03);
    --text-primary: var(--shade-02);
    --text-secondary: var(--shade-06);
    --text-light: var(--shade-10);
    --stroke-border: var(--shade-10);
    --stroke-stroke2: var(--shade-08);
}

[data-theme="dark"] {
    --backgrounds-surface1: var(--shade-02);
    --backgrounds-surface2: var(--shade-03);
    --backgrounds-dark1: var(--shade-08);
    --text-primary: var(--shade-09);
    --text-secondary: var(--shade-07);
    --text-light: var(--shade-01);
    --stroke-border: #272727;
    --stroke-stroke2: #282828;
}

@layer base {
    html {
        font-size: 1rem;
    }
    button {
        cursor: pointer;
    }
}

@layer components {
    .center {
        width: 100%;
        margin: 0 auto;
        padding: 0 1.25rem;
    }
    .card {
        margin-bottom: 0.75rem;
        padding: 0.75rem;
        border-radius: 2rem;
        background-color: var(--backgrounds-surface2);
        box-shadow: 0px 5px 1.5px -4px rgba(8, 8, 8, 0.09),
                    0px 6px 4px -4px rgba(8, 8, 8, 0.05);
    }
    .label {
        display: inline-flex;
        align-items: center;
        height: 1.75rem;
        padding: 0 0.4375rem;
        border-radius: 0.5rem;
        font-size: 0.875rem;
        font-weight: 600;
    }
    .label-green {
        border: 1px solid rgba(0, 166, 86, 0.15);
        background-color: rgba(0, 166, 86, 0.05);
        color: #00A656;
    }
    .label-red {
        border: 1px solid rgba(255, 106, 85, 0.15);
        background-color: rgba(255, 106, 85, 0.05);
        color: #FF6A55;
    }
    .label-yellow {
        border: 1px solid rgba(239, 157, 14, 0.15);
        background-color: rgba(239, 157, 14, 0.05);
        color: #EF9D0E;
    }
    .label-gray {
        border: 1px solid var(--stroke-stroke2);
        background-color: var(--backgrounds-surface1);
        color: var(--text-secondary);
    }
}
